footer {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.footerLogo{
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  justify-content: center;
  border-bottom: none !important;
}

