<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === true">
    <mat-toolbar>Микрорубрики</mat-toolbar>
    <mat-nav-list>
      <a routerLink="/"  mat-list-item href="#">Главная страница</a>
      <a routerLink="/courses" mat-list-item href="#">Курсы</a>
      <a mat-list-item href="#">Фильм дня</a>
      <a mat-list-item href="#">Книга дня</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-header">
    <mat-toolbar color="primary">
      <div class="sidebar-div-button">
        <p>
          <button class="sidebar-button" mat-button (click)="sidenav.toggle()"><img src="assets/images/logo.png"></button>
        </p>
      </div>

      <nav class="header-nav-main">
        <ul class="header-nav-main-list">
          <li class="header-nav-main-item">
            <a [routerLink]="['/courses']" class="header-nav-main-link" href="">
              <button mat-button>Курсы</button>
            </a>
          </li>
          <li class="header-nav-main-item">
            <a class="header-nav-main-link" href="">
              <button mat-button>Журнал</button>
            </a>
          </li>
          <li class="header-nav-main-item">
            <a class="header-nav-main-link" href="">
              <button mat-button>Детская комната</button>
            </a>
          </li>
          <li class="header-nav-main-item">
            <a class="header-nav-main-link" href="">
              <button mat-button>Радио</button>
            </a>
          </li>
        </ul>

      </nav>
      <span class="modeSwitch">
        <mat-slide-toggle (change)="onDarkModeSwitched($event)"></mat-slide-toggle>
      </span>

      <div class="user-div-button">
        <p>
          <button class="user-button" mat-button (click)="sidenav.toggle()"><img src="assets/images/user.png"></button>
        </p>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
  <mat-sidenav-content>
    <div class="articleDiv">
      <h1 class="articleHeader">3 слова, помогающих понять бретонскую культуру</h1>
      <h5 class="articleSubtext">23 ДЕКАБРЯ 2020 - АНТРОПОЛОГИЯ</h5>
      <h4>Бретонцы — жители региона Бретань на северо-западе Франции. Свои язык и культуру они унаследовали от переселенцев с Британских островов, кото­рых в Античности и раннем Средневековье называли бриттами. Современ­ные бретонцы продолжают по мере возможности сохранять свой язык, относящийся к кельтским 

        , и самобытную культуру, во многом отличающуюся от французской. </h4>

      <h3>1. Doare</h3>
      <img src="https://cdn-s-static.arzamas.academy/uploads/ckeditor/pictures/16916/bre-doare.jpg">
      <h4>Бретонцы любят делать все правильно и действовать согласно приличиям и установленному порядку. Поэтому их считают упрямцами: разуверить бре­тон­ца в том, что он считает правильным, и заставить свернуть с прото­ренной колеи практически невозможно. Но дело не в упрямстве, а в том, что у бретон­цев есть идея правильного, чаще всего общепринятого образа действия, кото­рому в принципе не нужна альтернатива.

        Про приличного, соблюдающего все общественные установки человека скажут, что он un den a-zoare 

        , то есть человек такого, как надо, образа. Если кто-то хорошо знаком с человеком, его привычками и образом жизни, он скажет: Gouzout a ran e zoare — «Я знаю его doare (знаю, каков он)». А вот не быть в курсе какого-нибудь doare означает не знать вообще ничего о человеке, предмете или явлении. Выражение n’ouzon doare переводится как «я ничего не знаю».</h4>


      <h3>2. Menhir</h3>
      <img src="https://cdn-s-static.arzamas.academy/uploads/ckeditor/pictures/16920/content_menhir.jpg">
      <h4>Менгир, мегалитический памятник непонятного назначения, представляющий собой огромный столб из грубо обработанного камня, считается визитной карточкой Бретани. Предположительно, он использовался в ритуальных целях — по крайней мере, культ поклонения менгирам как символам плодо­родия суще­ствовал в Бретани вплоть до ХХ века. Женщины, безуспешно пытавшиеся родить детей, приходили к менгирам, прикасались к ним и тер­лись о них.

        Менгиры распространены во многих странах мира, причем неизвестно, кто именно и как поставил такие глыбы. В Бретани менгиров особенно много: в одном только местечке Карнак их без малого три тысячи. Слово «менгир» вошло во многие языки, став официальным научным названием. Как и слово «дольмен», обозначающее мегалитическое сооружение другого типа, это слово бретонское по происхождению, но изначально в бретонском языке его не было. Когда Бретань открыли для себя парижане, приезжавшие на полуостров Армо­ри­ка 

        за свежим воздухом и новыми впечатлениями, они спра­шивали у мест­ных жителей, что это такое. Недоумевающие местные жители объясня­ли: это камень, он длинный. Так из двух бретонских слов m (a)en и hir было составлено новое. Оно вошло во французский язык, а оттуда во все осталь­ные под видом исконно бретонского названия. А бретонцы называли и продол­жа­ют называть этот предмет peulvan (от peul, «столб»).</h4>



      <h3>3. Hiraezh</h3>
      <img src="https://cdn-s-static.arzamas.academy/uploads/ckeditor/pictures/16918/bre-hiraezh.jpg">
      <h4>Это слово также образовано от прилагательного hir, однако обозначает не длин­­ный предмет, а состояние, когда время кажется долгим. Оно описы­вает чувство меланхолии, тоски, наплыва ностальгических воспоминаний, из-за которых время становится тягучим. В бретонском языке существует выра­жение kavout hir an amzer, буквально «находить время длинным», то есть ску­чать, тосковать по кому-то или чему-то, находиться в томительном ожидании, когда время тянется медленно. Для другого оттенка того же состояния суще­ствует слово hirvoud — это меланхолия, депрессивное состояние, а также тяжелый вздох, жалоба, горестное причитание. A образованным от него прилагательным hirvoudus обозначают нечто крайне скучное и монотонное.

        Бретонцы имеют репутацию задумчивых меланхоликов, склонных к мисти­ческим переживаниям. Возможно, это хроническое состояние задумчивости связано с довольно сложным климатом: несмотря на его мягкость и отсутствие морозов зимой, дожди, плавно переходящие в туман, могут зарядить надолго. В ноябре и декабре солнечные дни случаются редко, а весной погода меняется так стремительно, что окружающий мир кажется нереальным. Добавьте к это­му постоянную влажность от океана, и станет понятно: есть с чего призаду­маться о бренности бытия. Впрочем, это не означает, что бретонцы не умеют веселиться.</h4>



    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>


</mat-sidenav-container>
