<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === true">
    <mat-toolbar>Микрорубрики</mat-toolbar>
    <mat-nav-list>
      <a routerLink="/"  mat-list-item href="#">Главная страница</a>
      <a routerLink="/courses" mat-list-item href="#">Курсы</a>
      <a mat-list-item href="#">Фильм дня</a>
      <a mat-list-item href="#">Книга дня</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-header">
    <mat-toolbar color="primary">
      <div class="sidebar-div-button">
        <p>
          <button class="sidebar-button" mat-button (click)="sidenav.toggle()"><img src="assets/images/logo.png"></button>
        </p>
      </div>

      <nav class="header-nav-main">
        <ul class="header-nav-main-list">
          <li class="header-nav-main-item">
            <a [routerLink]="['/courses']" class="header-nav-main-link" href="">
              <button mat-button>Курсы</button>
            </a>
          </li>
          <li class="header-nav-main-item">
            <a class="header-nav-main-link" href="">
              <button mat-button>Журнал</button>
            </a>
          </li>
          <li class="header-nav-main-item">
            <a class="header-nav-main-link" href="">
              <button mat-button>Детская комната</button>
            </a>
          </li>
          <li class="header-nav-main-item">
            <a class="header-nav-main-link" href="">
              <button mat-button>Радио</button>
            </a>
          </li>
        </ul>

      </nav>
      <span class="modeSwitch">
        <mat-slide-toggle (change)="onDarkModeSwitched($event)"></mat-slide-toggle>
      </span>

      <div class="user-div-button">
        <p>
          <button class="user-button" mat-button (click)="sidenav.toggle()"><img src="assets/images/user.png"></button>
        </p>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
  <mat-sidenav-content>
    <!--Здесь контент дашборда-->
    <app-course-dashboard></app-course-dashboard>
    <app-footer></app-footer>
  </mat-sidenav-content>


</mat-sidenav-container>
